/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url('../images/wacky-races-background.webp');
}

main#two-columns {
  margin: 10px 0;
  display: block;
}

main#two-columns section {
  width: 90vw;
}

section#accelerate button {
  height: 150px;
  width: 150px;
  display: block;
  margin: 30px auto;
  border-radius: 180%;
  background-color: green;
  border-color: rgb(14, 166, 6);
  cursor: pointer;
}

#big-numbers {
  font-weight: bolder;
  font-size: 70px;
}

.progress-leaderBoard h3 {
  text-align: left;
}

.track-progress {
  height: 45px;
  width: 100%;
  background: white;
  display: flex;
  border: 3px solid white;
  background: black;
  align-items: center;
  position: relative;
}

.track-separation {
  border: dashed 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-items: center;
  width: 100%;
  align-content: center;
  border-color: yellow;
  height: 1px;
}

.track-progress img {
  width: 50px;
  border-radius: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 1s ease;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: absolute;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
  main#two-columns {
    display: flex;
  }
  main#two-columns section {
    width: 50vw;
  }
  section#accelerate button {
    height: 300px;
    width: 300px;
  }
}
